.loaderWrapper {
  position: fixed;
  inset: 0;
  background: #fff; // можна замінити на градієнт
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  gap: 8px;

  span {
    width: 12px;
    height: 12px;
    background: var(--chervoniy-volnicya);
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
  }

  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.6;
  }
  to {
    transform: translateY(-16px);
    opacity: 1;
  }
}
