.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: var(--chervoniy-volnicya);
  color: var(--bіliy);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, background 0.2s ease;
  z-index: 50;

  &:hover {
    background-color: var(--svіtlo-chervoniy);
    transform: scale(1.1);
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
