.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 22px 0;

  @media (min-width: 744px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;

  @media (min-width: 744px) {
    font-size: 1.875rem;
  }
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  min-width: 180px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  background-color: var(--chervoniy-volnicya);
  padding: 0.75rem 1.5rem;
  margin-inline: auto;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--sv—ñtlo-chervoniy);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(2px);
  }

  @media (min-width: 744px) {
    width: auto;
    padding: 0.5rem 1.5rem;
    margin-inline: 0;
    margin-left: auto;
  }
}
