.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  padding: 0.25rem;
  transition: all 0.3s ease;

  &:hover {
    color: #ef4444;
    transform: rotate(90deg);
  }
}
