.tabs {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}

.tabBtn {
  border-radius: 30px 30px 0 0;
  border: none;
  padding: 12px 48px;
  width: 165px;
  height: 38px;
  background: var(--bezh-tlo);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--neativniy-tekst);
  transition: 0.2s ease;
  margin-left: -24px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);

  &.active {
    background: var(--bіliy);
    color: var(--korichneviy-volnicya);
    z-index: 10;
  }
}

.wrapper {
  padding: 24px 16px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: var(--bіliy);

   @media (min-width: 744px) {
    padding: 60px;
    gap: 120px;
   }
  
  .leaders {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .leaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    @media (min-width: 1440px) {
      flex-direction: row;
      align-items: start;
      gap: 24px;
    }

    .leaderCard {
      border-radius: 10px;
      padding: 0 0 16px;
      width: 250px;
      height: 358px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background: var(--bіliy);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .photo {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 8px;
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      .role {
        font-size: 14px;
        color: var(--neativniy-tekst);
      }
    }

    .description {
      text-align: left;

      .achievements {
        font-size: 16px;
        line-height: 170%;
        color: var(--main-text);
      }

      /* обрізка до 4 рядків на мобілці */
      .clamp4 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .source {
        font-size: 12px;
        margin-top: 8px;
      }
    }

    .toggleBtn {
      display: block;
      margin-top: 8px;
      margin-left: auto;
      width: fit-content;
      padding: 0;
      gap: 4px;
      color: var(--neativniy-tekst);
      background: none;
      border: none;
      cursor: pointer;

      .arrow img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        vertical-align: middle;
        transform: translateY(-1px);
      }
    }
  }

  /* Members */
  .membersWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 744px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .memberCard {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    text-align: center;

    .photo {
      border-radius: 15px;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 0 auto 12px;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 4px;
      width: 200px;
    }

    .role {
      font-size: 14px;
      color: var(--neativniy-tekst);
    }
  }
}
