.tabs {
  display: flex;
  justify-content: end;
}

.tabBtn {
  border-radius: 30px 30px 0 0;
  border: none;
  padding: 12px 48px;
  width: 165px;
  height: 38px;
  // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--bezh-tlo);
  //  background: var(--bﾑ僕iy);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--neativniy-tekst);
  transition: 0.2s ease;
  margin-left: -24px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);

  &.active {
    background: var(--bﾑ僕iy);
    // background: var(--bezh-tlo);
    color: var(--korichneviy-volnicya);
    z-index: 10;
  }
}

.wrapper {
  padding: 24px 16px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 15px 0 15px 15px;
  // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: var(--bﾑ僕iy);
  margin-top: -1px;

  /* Leaders list (vertical) */
  .leaders {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .leaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    .leaderCard {
      border-radius: 10px;
      padding: 0px 0px 16px;
      width: 250px;
      height: 358px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background: var(--bﾑ僕iy);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .photo {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 8px;
      }

      .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      .role {
        font-size: 14px;
        color: var(--neativniy-tekst);
      }
    }
    .achievements {
      font-size: 16px;
      line-height: 170%;
      color: var(--main-text);
    }
  }

  /* Members: grid */
  .membersWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 744px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .memberCard {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    text-align: center;

    .photo {
      border-radius: 15px;
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 0 auto 12px;
    }

    .name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 4px;
      width: 200px;
    }

    .role {
      font-size: 14px;
      color: var(--neativniy-tekst);
    }
  }
}
