.membersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 300px;

  @media (min-width: 744px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
    max-width: 636px;
  }

  @media (min-width: 1440px) {
    gap: 48px;
    max-width: 996px;
  }

  .memberCard {
    background: #fff;
    border-radius: 25px;
    width: 300px;
    height: 379px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    }

    .photo {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .name {
      font-weight: 600;
      font-size: 16px;
      line-height: 180%;
    }

    .role {
      font-size: 14px;
      color: var(--neativniy-tekst);
    }
  }
}

