.tabs {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}

.tabBtn {
  border-radius: 30px 30px 0 0;
  border: none;
  padding: 12px 48px;
  width: 165px;
  height: 38px;
  background: var(--bezh-tlo);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--neativniy-tekst);
  transition: 0.2s ease;
  margin-left: -24px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);

  &.active {
    background: var(--bіliy);
    color: var(--korichneviy-volnicya);
    z-index: 10;
  }
}

.wrapper {
  padding: 24px 16px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: var(--bіliy);

  @media (min-width: 744px) {
    padding: 60px;
    gap: 120px;
  }
}
