.container {
  padding: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  background: #f9fafb;
  border: 2px dashed #cbd5e1;
  border-radius: 12px;
  margin: 2rem 0;
  padding: 2rem;
}

.emptyText {
  font-size: 1.1rem;
  color: #64748b;
  font-weight: 500;
  text-align: center;
  padding: 0 1rem;
  max-width: 500px;
}

.retryBtn {
  background-color: var(--chervoniy-volnicya);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s ease;

   &:hover {
    background-color: var(--sv—ñtlo-chervoniy);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(2px);
  }
}
