.container {
  padding: 20px 0;
}

.section {
  margin-bottom: 2rem;
  .sectionTitle {
    margin-bottom: 1rem;
    color: #1e293b;
    font-size: 1.2rem;
  }
}

.copyForm {
  display: flex;
  gap: 1rem;
  height: 40px;
  max-width: 800px;
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 0.6rem;
    font-weight: 600;
    height: 100%;
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--chervoniy-volnicya);
      outline: none;
      box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
    }

    &::placeholder {
      color: #9ca3af;
    }
  }
  .saveBtn {
    padding: 10px 20px;
    background-color: var(--chervoniy-volnicya);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    color: #ffffff;

    transition: all 0.3s ease;

    &:hover {
      background-color: var(--sv—ñtlo-chervoniy);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    &:active {
      transform: translateY(2px);
    }
  }
}

.divider {
  border: 0;
  border-top: 1px solid #e2e8f0;
  margin: 2rem 0;
}

.socialGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.socialCard {
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.socialInfo {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  .iconPreview {
    width: 40px;
    height: 40px;
  }
  .socialAlt {
    font-weight: 600;
    margin: 0;
  }
  .orderBadge {
    font-size: 0.75rem;
    color: #64748b;
  }
}

.adminActions {
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
