.container {
  padding: 1rem;

  @media (min-width: 744px) {
    padding: 1.5rem;
  }

  @media (min-width: 1440px) {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;

  @media (min-width: 744px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.title {
  margin-left: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;

  @media (min-width: 744px) {
    font-size: 1.875rem;
     margin-left: 0;
  }
}

.addButton {
  max-width: 300px;
  width: 100%;
  background-color: var(--chervoniy-volnicya);
  padding: 0.75rem 1.5rem;
  margin-inline: auto;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--sv—ñtlo-chervoniy);
    transform: translateY(-1px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translateY(0);
  }

  @media (min-width: 744px) {
    width: auto;
    padding: 0.5rem 1.5rem;
    margin-inline: 0;
    margin-left: auto;
  }
}
