.awardsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
  justify-items: center;

  @media (min-width: 744px) {
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    justify-items: start;
  }

  @media (min-width: 1440px) {
    gap: 2rem;
  }
}

.awardItem {
  position: relative;
  border: 1px solid #a1a2a4;
  border-radius: 6px;
  max-width: 218px;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.3s ease;
  background-color: white;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    .deleteBtn {
      opacity: 1;
    }
  }

  @media (min-width: 744px) {
    width: 218px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 301px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.25rem;
}

.created {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #334155;
}

.deleteBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b91c1c;

  svg {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 1024px) {
    opacity: 0;

    &:hover {
      color: #fff;
      background-color: #b91c1c;
      transform: scale(1.1);
    }
  }
}
