.container {
  padding: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
  justify-items: center;

  @media (min-width: 744px) {
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    justify-items: start;
  }

  @media (min-width: 1440px) {
    gap: 2rem;
  }
}
