.leaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .leaderCard {
    border-radius: 10px;
    padding: 0 0 16px;
    width: 250px;
    height: 358px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--b—ñliy);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .photo {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin-bottom: 8px;
      border-radius: 10px 10px 0 0;
    }

    .name {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .role {
      font-size: 14px;
      color: var(--neativniy-tekst);
    }
  }

  .description {
    text-align: left;

    .achievements {
      font-size: 16px;
      line-height: 170%;
      color: var(--main-text);
    }

    .clamp4 {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .source {
      font-size: 12px;
      margin-top: 8px;
    }
  }

  .toggleBtn {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    padding: 0;
    gap: 4px;
    color: var(--neativniy-tekst);
    background: none;
    border: none;
    cursor: pointer;

    .arrow img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      vertical-align: middle;
      transform: translateY(-1px);
    }
  }
}
