.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--bezh-tlo);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .navButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--chervoniy-volnicya);
    font-weight: bold;
  }

  .albumTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--korichneviy-volnicya);
  }
}