.bannerWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 33.33%;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.bannerImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
