.bannerWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 33.33%;
  background-color: #000;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-in-out;
}

.active {
  opacity: 1;
  z-index: 2;
}

.inactive {
  opacity: 0;
  z-index: 1;
}

.bannerImage {
  object-fit: cover;
}
