.card {
  position: relative;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #a1a2a4;
  width: 100%;
  max-width: 320px;
  transition: all 0.3s ease;
  margin-inline: auto;
  box-sizing: border-box;
  padding: 8px;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    .deleteBtn {
      opacity: 1;
    }
  }

  @media (min-width: 744px) {
    max-width: 300px;
    margin-inline: 0;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #000;
  overflow: hidden;
  border-radius: 4px;

  img {
    object-fit: cover;
  }
}

.orderBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(92, 95, 101, 0.75);
  backdrop-filter: blur(4px);
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 700;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
  padding: 8px 4px 4px;

  .title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #111827;
    margin: 0 0 6px 0;
    line-height: 1.4;
    height: calc(1.4rem * 1.1 * 2);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .created {
    margin-top: 0.8rem;
    font-size: 14px;
    font-weight: 500;
    color: #334155;
  }
}

.deleteBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dc2626;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  transition: all 0.2s ease;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: #fff;
    background-color: #dc2626;
    transform: scale(1.1);
  }
}
