.card {
  position: relative;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #f3f4f6;
}

.orderBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(137, 138, 139, 0.75);
  backdrop-filter: blur(4px);
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 700;
  z-index: 2;
}

.info {
  padding: 1rem;
  flex-grow: 1;

  .title {
    font-size: 18px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 0.5rem;
    // Логіка для 2 рядків
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
    height: 2.8em;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .created {
    font-size: 14px;
    color: #6b7280;
  }
}

.adminActions {
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
