.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  .heroImg {
    position: relative;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    height: 178px;
    overflow: hidden;
     :global(img) {
      width: 100%;
      height: 100%;
      object-fit: cover;       
      object-position: center;
    }
    @media (min-width: 744px) {
      height: 354px;
       :global(img) {
        object-position: center;
      }
    }
    @media (min-width: 1440px) {
      height: 684px;
      margin-inline: auto;
      :global(img) {
        object-position: center;
      }
    }
  }

  .block {
    position: relative;

    @media (min-width: 744px) {
      &.hasTitle {
        width: 562px;
      }
    }
  }

  .title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 33px;
    line-height: 90%;
    color: var(--chervoniy-volnicya);
    margin-bottom: 16px;
  }

  .text {
    font-size: 16px;
    line-height: 180%;

    @media (min-width: 744px) {
      font-size: 20px;
    }
  }

  .toggleBtn {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    padding: 0;
    gap: 4px;
    color: var(--neativniy-tekst);
    background: none;
    border: none;
    cursor: pointer;

    .arrow img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      vertical-align: middle;
      transform: translateY(-1px);
    }
  }
}
