.section {
  text-align: center;
 
  h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 48px;
    max-width: 696px;
    width: 100%;

    @media (min-width: 744px) {
      font-size: 24px;
      line-height: 160%;
      width: 585px;
    }
  }

  .decorWrap {
    position: relative;
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;

    .decor {
      width: 100%;
      max-width: 613px;
      height: auto;
      transform: translateY(0);
    }
  }

  div {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
