.leaderWrapper {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: start;
  }
}

.leaderCard {
  flex-shrink: 0;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 16px;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 1440px) {
    margin: 0;
  }

  .imgWrapper {
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 8px;

    .photo {
      object-fit: cover;
    }
  }

  .orderBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(137, 138, 139, 0.75);
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
  }

  .info {
    padding: 0 10px;
    .name {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      color: #111827;
      text-transform: capitalize;
    }
    .role {
      font-size: 14px;
      color: #6b7280;
      margin-top: 4px;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.description {
  flex-grow: 1;
  text-align: left;
  width: 100%;

  .achievements {
    font-size: 15px;
    line-height: 1.6;
    color: #374151;

    p {
      margin-bottom: 8px;
    }
  }

  .clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .source {
    font-size: 12px;
    margin-top: 12px;
    color: #9ca3af;
    font-style: italic;
  }

  .toggleBtn {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    padding: 0;
    gap: 4px;
    color: var(--neativniy-tekst);
    background: none;
    border: none;
    cursor: pointer;

    .arrow img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      vertical-align: middle;
      transform: translateY(-1px);
    }
  }
}

.adminActions {
  border-top: 1px solid #f3f4f6;
  display: flex;
  justify-content: flex-end;
  margin: auto -16px 0;
  width: calc(100% + 32px);
}
