.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
  padding: 1rem;
}

.modal {
  background-color: #f0eeee;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--chervoniy-volnicya);
  color: #000000;
  width: 100%;
  max-width: 448px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: modalAppear 0.3s ease-out;

  @media (min-width: 744px) {
    padding: 2rem;
  }
}

@keyframes modalAppear {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  padding: 0.25rem;
  transition: all 0.3s ease;

  &:hover {
    color: var(--chervoniy-volnicya);
     transform: rotate(90deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .fileInput {
    width: 100%;
    font-size: 0.85rem;

    &::file-selector-button {
      margin-bottom: 0.5rem;
      border: none;
      background: var(--chervoniy-volnicya);
      border-radius: 50px;
      width: 100%;
      height: 38px;
      color: white;
      cursor: pointer;
      transition: background 0.3s ease;

      @media (min-width: 400px) {
        width: 180px;
        margin-right: 1rem;
        margin-bottom: 0;
      }

      &:hover {
        background: var(--svіtlo-chervoniy);
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
  margin-top: 1rem;

  @media (min-width: 480px) {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  .cancelBtn {
    color: #4b5563;
    background: transparent;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f3f4f6;
      color: #000;
      border-color: var(--chervoniy-volnicya)
    }
  }

  .submitBtn {
    background-color: var(--chervoniy-volnicya);
    color: #ffffff;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
      background-color: var(--svіtlo-chervoniy);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}