.container {
   padding: 20px 0;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;

   @media (min-width: 744px) {
    gap: 20px;
  }

  @media (min-width: 1440px) {
    gap: 32px;
  }
}
